<div class="panel_button large-3 small-3 columns nopadding" style="float:left;">
    <button class="gls_button fixed_height_55 instrument_panel_button" data-id="controlzone">Зоны контроля</button>
</div>