<div class="large-12 small-12 columns nopadding">
	<h1>Параметры функции калибровки</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-6 columns nopadding">
		<span class="span_usual">RSSI на расстоянии 1 м., дБм</span>
	</div>

	<div class="large-8 small-6 columns nopadding">
		<input type="number" id="min_dist" value="{{min_dist}}" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-6 columns nopadding">
		<span class="span_usual">RSSI на расстоянии 10 м., дБм</span>
	</div>
	<div class="large-8 cmall-6 columns nopadding">
		<input type="number" id="max_dist" value="{{max_dist}}" class="input_usual">	
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="save_cal_func_parameters" data-id="{{object_id}}">Сохранить</button>
</div>