<div class="large-12 small-12 columns nopadding">
	<h1>Переименовать объект</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<input type="text" id="object_name" placeholder="{{object_unit.Name}}" class="input_usual">
</div>

<div class="large-12 small-12 columns nopadding" style="float:left;">
	<button class="gls_button" id="rename_object" data-id="{{object_unit.id}}">Сохранить</button>
</div>