<div class="large-12 small-12 columns nopadding">
	<h1>Изменить тип объекта</h1>	
</div>
<div class="large-12 small-12 columns nopadding">
	<select name="" id="objecttype" class="select_usual">
        {% for object_type in object_types %}
            <option value="{{object_type.0}}" {% if object_type_id == object_type.0 %}selected="selected"{% endif %}>{{object_type.1}}</option>
        {% endfor %}
    </select>
</div>
<div class="large-12 small-12 columns nopadding" style="float:left;">
	<button class="gls_button" id="changetype" data-id="{{object_id}}">Сохранить</button>
</div>