{% load poll_extras %}

<div class="large-12 small-12 columns nopadding">
	<h1>Изменить координаты объекта {{object_unit.Name}}</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">X</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="x_coord" value="{{object_unit.xCoord|decToPoint}}" step="0.01" class="input_usual">		
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Y</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="y_coord" value="{{object_unit.yCoord|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Z</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="z_coord" value="{{object_unit.zCoord|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="changecoords" data-id="{{object_unit.id}}">Сохранить</button>
</div>