<div class="large-12 small-12 columns">
	<div class="large-12 small-12 columns nopadding">
		<h1>Сохранить изменение координат?</h1>	
	</div>
	<div class="large-12 small-12 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="confirm_yes">Да</button>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="confirm_no">Нет</button>
		</div>
	</div>
</div>