{% load poll_extras %}

<div class="large-12 small-12 columns nopadding">
	<h1>Изменить параметры объекта {{object_unit.Name}}</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-6 small-12 columns nopadding">
		<div class="large-4 small-4 columns nopadding">
			<span class="span_usual">MAC ID</span>
		</div>
		<div class="large-8 small-8 columns nopadding">
			<input type="text" id="server_id" value="{{object_unit.server_id}}" disabled="disabled" class="input_usual">
		</div>
	</div>

	<div class="large-6 small-12 columns nopadding">
		<div class="large-4 small-4 columns nopadding">
			<span class="span_usual">Наименование</span>
		</div>
		<div class="large-8 small-8 columns nopadding">
			<input type="text" id="name" value="{{object_unit.Name}}" class="input_usual">
		</div>
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-12 columns nopadding">
		<div class="large-9 small-9 columns nopadding">
			<span class="span_usual">Использовать</span>
		</div>
		<div class="large-3 small-3 columns nopadding">
			<input type="checkbox" {% if object_unit.server_inUse == 1%}checked="checked"{% endif%} id="server_in_use">
		</div>
	</div>

	<div class="large-8 small-12 columns nopadding">
		<div class="large-3 small-3 columns nopadding">
			<span class="span_usual">Описание</span>
		</div>
		<div class="large-9 small-9 columns nopadding">
			<input type="text" value="{{object_unit.Description}}" id="description" class="input_usual">
		</div>
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<span class="span_usual"><strong>Базовые настройки</strong></span>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-12 columns nopadding">
		<div class="large-3 small-3 columns nopadding">
			<span class="span_usual">Тип</span>
		</div>
		<div class="large-9 small-9 columns nopadding">
			<select id="server_type" class="select_usual">
				{% for object_work_type in object_work_types %}
					{% if object_work_type.db_name == object_unit.server_type %}
						<option value="{{object_work_type.db_name}}" selected="selected">{{object_work_type.name}}</option>
					{% else %}
						<option value="{{object_work_type.db_name}}">{{object_work_type.name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="large-4 small-12 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<span class="span_usual">Радиус, м</span>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<input type="number" step="0.01" value="{{object_unit.server_radius|decToPoint}}" id="server_radius" class="input_usual">
		</div>
	</div>

	<div class="large-4 small-12 columns nopadding">
		<div class="large-9 small-9 columns nopadding">
			<span class="span_usual">Кол. точек попадания</span>
		</div>
		<div class="large-3 small-3 columns nopadding">
			<input type="number" value="{{object_unit.server_minNumPoints}}" id="server_min_num_points" class="input_usual">
		</div>
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<span class="span_usual"><strong>Аппаратные настройки</strong></span>	
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-6 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<span class="span_usual">РЧ ID</span>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<input type="number" value="{{object_unit.rf_short_addr}}" id="rf_short_addr" class="input_usual">
		</div>
	</div>

	<div class="large-4 small-6 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<span class="span_usual">Подсеть</span>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<input type="number" value="{{object_unit.pan_id}}" id="pan_id" class="input_usual">
		</div>
	</div>

	<div class="large-4 small-6 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<span class="span_usual">Таймслот</span>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<input type="number" value="{{object_unit.timeslot}}" id="timeslot" class="input_usual">
		</div>
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-6 columns nopadding">
		<div class="large-7 smal-7 columns nopadding">
			<span class="span_usual">Каналы RSSI/GLONAS</span>
		</div>
		<div class="large-5 small-5 columns nopadding">
			<div class="large-6 small-6 columns nopadding">
				<input type="number" value="{{object_unit.channel_rssi}}" id="channel_rssi" class="input_usual">	
			</div>
			<div class="large-6 small-6 columns nopadding">
				<input type="number" value="{{object_unit.channel_glonas}}" id="channel_glonas" class="input_usual">
			</div>
		</div>
	</div>

	<div class="large-4 small-6 columns nopadding">
		<div class="large-8 small-8 columns nopadding">
			<span class="span_usual">Мощность передатчика, дБм</span>		
		</div>
		<div class="large-4 small-4 columns nopadding">
			<select id="tx_power_level" class="select_usual">
				{% for tx_power_level_type in tx_power_level_types %}
					{% if tx_power_level_type == object_unit.tx_power_level %}
						<option value="{{tx_power_level_type}}" selected="selected">{{tx_power_level_type}}</option>
					{% else %}
						<option value="{{tx_power_level_type}}">{{tx_power_level_type}}</option>
					{% endif%}
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="large-4 small-6 column nopadding">
		<div class="large-8 small-8 columns nopadding">
			<span class="span_usual">Версия прошивки</span>
		</div>
		<div class="large-4 small-4 columns nopadding">
			<input type="number" value="{{object_unit.firmware_version}}" id="firmware_version" class="input_usual">
		</div>
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-5 small-5 columns nopadding">
		<span class="span_usual">Поддерживаемые датчики</span>
	</div>
	<div class="large-7 small-7 columns nopadding">
		<input type="text" value="{{object_unit.supported_sensors}}" id="supported_sensors" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div clas="large-5 small-5 columns nopadding">
		<span class="span_usual">Используемые датчики</span>
	</div>
	<div class="large-7 small-7 columns nopadding">
		<input type="text" value="{{object_unit.used_sensors}}" id="used_sensors" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="save_parameters" data-id="{{object_unit.id}}">Сохранить</button>
</div>