<div class="large-12 small-12 columns">
	<button class="objectinfo_close">
		<span>&times;</span>
	</button>

	<div class="large-12 small-12 columns nopadding">
		<span class="span_small">Тип: {{type_rus}}</span>
	</div>

	<div class="lareg-12 small-12 columns nopadding">
		<span class="span_small">Имя: {{object_unit.Name}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<div class="large-4 small-4 columns nopadding">
			<div class="large-5 small-5 columns nopadding">
				<span class="span_small">x</span>	
			</div>
			<div class="large-7 small-7 columns nopadding">
				<span class="span_small"><small>{{object_unit.xCoord|floatformat:2}}</small></span>	
			</div>
		</div>

		<div class="large-4 small-4 columns nopadding">
			<div class="large-5 small-5 columns nopadding">
				<span class="span_small">y</span>	
			</div>
			<div class="large-7 small-7 columns nopadding">
				<span class="span_small"><small>{{object_unit.yCoord|floatformat:2}}</small></span>	
			</div>
		</div>

		<div class="large-4 small-4 columns nopadding">
			<div class="large-5 small-5 columns nopadding">
				<span class="span_small">z</span>	
			</div>
			<div class="large-7 small-7 columns nopadding">
				<span class="span_small"><small>{{object_unit.zCoord|floatformat:2}}</small></span>	
			</div>
		</div>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="objectgorizontal">
			<span class="span_small">Откорректировать по горизонтали</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="objectvertical" data-id="{{object_unit.id}}">
			<span class="span_small">Откорректировать по вертикали</span>
		</a>	
	</div>
	
	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="changetype_form" data-id="{{object_unit.id}}">
			<span class="span_small">Изменить тип</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="changename_form" data-id="{{object_unit.id}}">
			<span class="span_small">Изменить имя</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="parameters_form" data-id="{{object_unit.id}}">
			<span class="span_small">Параметры</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="objectdelete_form" data-id="{{object_unit.id}}">
			<span class="span_small">Удалить</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="objectstatic_form" data-id="{{object_unit.id}}">
			<span class="span_small">Привязать к статике</span>
		</a>	
	</div>
	
	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="cal_func_form" data-id="{{object_unit.id}}">
			<span class="span_small">Функция калибровки</span>
		</a>	
	</div>
</div>