<tr class="object_line" data-id="{{object_unit.id}}" data-type="{{object_unit.type}}">
	<td>
		<div class="large-12 small-12 columns nopadding">

			<div class="large-6 small-6 columns nopadding">
				<div class="large-12 small-12 columns nopadding object_type_name">
					Тип: {{object_unit.type}}
				</div>

				<div class="large-12 small-12 columns nopadding object_line_name">
					Имя:{{object_unit.name}}
				</div>
				
				<div class="large-12 small-12 columns nopadding">
					{% if static_dae_name %}
						<div class="large-12 small-12 columns nopadding">
							Привязан:	
						</div>
					{% endif %}

					<div class="large-12 small-12 columns nopadding">
						{% if static_name %}
							{{static_name}}
						{% elif static_dae_name %}
							{{static_dae_name}}
						{% endif %}
					</div>


					{% if static_dae_name %}	
						<div class="large-12 small-12 columns nopadding">
							<a href="#" id="unlinkobject" data-type="building" data-id="{{object_unit.id}}">Отвязать</a>	
						</div>
					{% endif %}
				</div>
			</div>

			<div class="large-6 small-6 columns nopadding">
  				<button class="gls_button action" data-type="object" data-id="{{object_unit.id}}">Действия</button>
			</div>
			
		</div>

		<div class="large-12 small-12 columns nopadding object_action">

			<hr>

			<a href="#" id="changetype_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Изменить тип
				</div>
			</a>
			
			<a href="#" id="changename_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Изменить имя	
				</div>
			</a>

			<a href="#" id="changecoords_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Изменить координаты	
				</div>
			</a>

			<a href="#" id="parameters_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Параметры	
				</div>
			</a>

			<a href="#" id="objectdelete_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Удалить	
				</div>
			</a>

			<a href="#" id="objectstatic_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Привязать к статике	
				</div>
			</a>

			<a href="#" id="cal_func_form" data-id="{{object_unit.id}}">
				<div class="large-12 small-12 columns object_action_item">
					Функция калибровки
				</div>
			</a>

		</div>

	</td>
</tr>