<div class="large-12 small-12 columns nopadding">
	<h1>Список незарегистрированных устройств</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<table>
		<thead>
			<tr>
				<th width="300">Идентификатор</th>
				<th>Тип устройства</th>
			</tr>
		</thead>
		<tbody>
			{% for device in devices %}
				<tr data-id="{{device.devId}}" class="device_unit">
					<td data-id="{{device.devId}}">{{device.devId}}</td>
					<td>{{device.devCode}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span>
			ID
		</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="text" id="device_id">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="device_continue">Продолжить</button>
</div>