{% load poll_extras %}

<div class="large-12 small-12 columns nopadding">
	<h1>Изменить размеры зоны контроля {{czone_unit.Name}}</h1>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Длина</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="width" value="{{czone_unit.width|decToPoint}}" step="0.01" class="input_usual">		
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Ширина</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="height" value="{{czone_unit.height|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Высота</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="depth" value="{{czone_unit.depth|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="changeczonescale" data-id="{{czone_unit.id}}">Сохранить</button>
</div>