{% load poll_extras %}

<div class="large-12 small-12 columns nopadding">
	<h1>Изменить координаты зоны контроля {{czone_unit.Name}}</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">X</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="x_coord" value="{{czone_unit.x|decToPoint}}" step="0.01" class="input_usual">		
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Y</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="y_coord" value="{{czone_unit.y|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Z</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="z_coord" value="{{czone_unit.z|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="changeczonecoords" data-id="{{czone_unit.id}}">Сохранить</button>
</div>