{% load poll_extras %}

<div class="large-12 small-12 columns nopadding">
	<h1>Изменить угол поворота зоны контроля {{czone_unit.Name}}</h1>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-1 small-1 columns nopadding">
		<span class="span_usual">Угол, радиана</span>
	</div>
	<div class="large-11 small-11 columns nopadding">
		<input type="number" id="angle" value="{{czone_unit.angle|decToPoint}}" step="0.01" class="input_usual">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="changeangleczone" data-id="{{czone_unit.id}}">Сохранить</button>
</div>