<tr class="czone_line" data-id="{{czone_unit.id}}">
	<td>
		<div class="large-12 small-12 columns nopadding">
			<div class="large-6 small-6 columns nopadding">

				<div class="large-12 small-12 columns nopadding overflow_ellipsis">
					Имя:{{czone_unit.Name}}
				</div>

				<div class="large-12 small-12 columns nopadding">

					{% for czonecc in czonecontrolzone %}
						{% if czonecc.ChildControlZone == c.id %}
							<div class="large-12 small-12 columns nopadding">
								Привязан: 	
							</div>

							<div class="large-12 small-12 columns nopadding">
								{{czonecc.ParentControlZone__Name}}	
							</div>
							
						{% endif %}
					{% endfor %}

					<div class="large-12 small-12 columns nopadding">
						Привязан: 	
					</div>
					
					<div class="large-12 small-12 columns nopadding">
						{% if static_name and static_name != '' %}
							{{static_name}}
						{% else %}
							{{static_dae_name}}
						{% endif %}
					</div>
					
							
				</div>
			</div>

			<div class="large-6 small-6 columns nopadding">
				<button class="gls_button action" data-type="czone" data-id="{{czone_unit.id}}">Действия</button>
			</div>
		</div>
		
		<div class="large-12 small-12 columns nopadding czone_action">

			<hr>
			
			<a href="#" id="showczone" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Показать	
				</div>
			</a>

			<a href="#" id="hideczone" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Скрыть	
				</div>
			</a>

			<a href="#" id="renameczone_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Изменить имя	
				</div>
			</a>

			<a href="#" id="changecoordsczone_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Изменить координаты	
				</div>
			</a>
			
			<a href="#" id="changescaleczone_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Изменить размер	
				</div>
			</a>

			<a href="#" id="changeangleofczone_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Изменить угол	
				</div>
			</a>

			<a href="#" id="czonedelete_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Удалить	
				</div>
			</a>

			<a href="#" id="linkczonestatic_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Привязать к статике	
				</div>
			</a>

			<a href="#" id="linkczonetoczone_form" data-id="{{czone_unit.id}}">
				<div class="large-12 small-12 columns czone_action_item">
					Привязать к зоне контроля
				</div>
			</a>

		</div>
	</td>
</tr>