<div class="large-12 small-12 columns">

	<button class="czoneinfo_close">
		<span>&times;</span>
	</button>

	<div class="large-12 small-12 columns nopadding">
		<span class="span_small">Зона контроля {{czone_unit.Name}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<span class="span_small">Привязана к {% if static_name %}{{static_name}}{% else %}{{static_dae_name}}{% endif %}</span>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<div class="large-4 small-4 columns nopadding">
			<div class="large-5 small-5 columns nopadding">
				<span class="span_small">x</span>	
			</div>
			<div class="large-7 small-7 columns nopadding">
				<span class="span_small"><small>{{czone_unit.x|floatformat:2}}</small></span>	
			</div>
		</div>

		<div class="large-4 small-4 columns nopadding">
			<div class="large-5 small-5 columns nopadding">
				<span class="span_small">y</span>	
			</div>
			<div class="large-7 small-7 columns nopadding">
				<span class="span_small"><small>{{czone_unit.y|floatformat:2}}</small></span>	
			</div>
		</div>

		<div class="large-4 small-4 columns nopadding">
			<div class="large-5 small-5 columns nopadding">
				<span class="span_small">z</span>	
			</div>
			<div class="large-7 small-7 columns nopadding">
				<span class="span_small"><small>{{czone_unit.z|floatformat:2}}</small></span>	
			</div>
		</div>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="czonegorizontal">
			<span class="span_small">Откорректировать по горизонтали</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="linkczonestatic_form" data-id="{{czone_unit.id}}">
			<span class="span_small">Привязать к статике</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="linkczonetoczone_form" data-id="{{czone_unit.id}}">
			<span class="span_small">Привязать к зоне контроля</span>
		</a>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<a href="#" id="czonedelete_form" data-id="{{czone_unit.id}}">
			<span class="span_small">Удалить</span>
		</a>
	</div>

</div>