<div class="large-12 small-12 columns">
	<div class="large-12 small-12 columns nopadding">
		<h1>Подтвердить изменение координат?</h1>	
	</div>
	<div class="large-12 small-12 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="change_coords_czone_yes" data-id="{{czone_id}}">Да</button>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="change_coords_czone_no">Нет</button>
		</div>
	</div>
</div>