<div class="large-12 small-12 columns">
	<div class="large-12 small-12 columns nopadding">
		<h1>Удалить зону контроля?</h1>	
	</div>
	<div class="large-12 small-12 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="czone_confirm_delete_yes" data-id="{{czone_id}}">Да</button>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="czone_confirm_delete_no">Нет</button>
		</div>
	</div>
</div>