<span class="label helperczonewindow" data-id="{{id}}" style="top:{{screenY|floatformat:0}}px;left:{{screenX|floatformat:0}}px;">
	<span id="czoneclose" data-id="{{id}}" data-type="controlzone" data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Скрыть">&times;</span>
	<span id="czonename" class="span_small">{{object_unit.Name}}</span>
</span>