<h1>Список зон пользователя</h1>

<table>
	<tbody>
		{% for czone in czones %}
			<tr>
				<td>
					<span class="span_small">{{czone.Name}}</span>
				</td>
				<td>
					<a href="#" data-parent="{{czone.id}}" data-children="{{czone_parent_id}}" id="linkczonetoczone">
						 <span class="span_small">Выбрать</span>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>