<div class="large-12 small-12 columns nopadding">
	<h1>Переименовать зону контроля</h1>	
</div>

<div class="large-12 small-12 columns nopadding">
	<input type="text" id="czone_name" value="{{czone_unit.Name}}" class="input_usual">
</div>

<div class="large-12 small-12 columns nopadding" style="float:left;">
	<button class="gls_button" id="rename_czone" data-id="{{czone_unit.id}}">Сохранить</button>
</div>