<tr class="ezone_line" data-id="{{ezone_id}}">
  <td>
    <div class="large-12 small-12 columns nopadding">

      <div class="large-6 small-6 columns nopadding">

            <span class="exclude_connection_head" data-type="userzone">{% if static_id %}Привязана{% endif %}</span>

            <span class="large-12 small-12 columns nopadding connected">
              {% if static_name %}
                {{static_name}}
              {% else %}
                {{static_dae_name}}
              {% endif %}
            </span>
            
            {% if static_id %}
              <a href="#" class="exclude_connection_unconnect" id="unlink_exclude" data-id="{{ezone_id}}">Отвязать</a>
            {% endif %}
      </div>

      <div class="large-6 small-6 columns nopadding">
        <button class="gls_button action" data-type="excludezone" data-id="{{ezone_id}}">Действия</button>  
      </div>

    </div>
    <div class="large-12 small-12 columns nopadding excludezone_action">
      <hr>
      <a href="#" id="show_exclude" data-id="{{ezone_id}}">
        <div class="large-12 small-12 columns excludezone_action_item">
          <span>Показать</span>
        </div>
      </a>
      <a href="#" id="delete_exclude" data-id="{{ezone_id}}">
        <div class="large-12 small-12 columns excludezone_action_item">
          <span>Удалить</span>
        </div>
      </a>
      <a href="#" id="buildstatictree" data-id="{{ezone_id}}">
        <div class="large-12 small-12 columns excludezone_action_item">
          <span>Привязать к статике</span>
        </div>
      </a>
      <a href="#" id="linkuzone_form" data-id="{{ezone_id}}">
        <div class="large-12 small-12 columns excludezone_action_item">
          <span>Привязать к зоне пользователя</span>
        </div>
      </a>
      <a href="#" id="height_change" data-id="{{ezone_id}}">
        <div class="large-12 small-12 columns excludezone_action_item">
          <span>Откорректирвать высоту</span>
        </div>
      </a>
    </div>
  </td>
</tr>