<div class="large-12 small-12 columns">
	<button class="ezoneinfo_close">
		<span>&times;</span>
	</button>
	<div class="large-12 small-12 columns nopadding">
		<span class="object_head">Зона исключения</span>
	</div>
	<div class="large-12 small-12 columns nopadding">
		<span class="objectinfo_head">
			Привязана к 
			{% if info.name %}
				{{info.name}}
			{% else %}
				{{info.dae_name}}
			{% endif %}
		</span>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<div class="large-12 small-12 columns nopadding">
			<a href="#" id="delete_exclude" class="object_link" data-id="{{ezone_id}}">
				Удалить
			</a>
		</div>
		<div class="large-12 small-12 columns nopadding">
			<a href="#" id="buildstatictree" class="object_link" data-id="{{ezone_id}}">
				Привязать к статике
			</a>
		</div>
		<div class="large-12 small-12 columns nopadding">
			<a href="#" id="height_change" class="object_link" data-id="{{ezone_id}}">
				Откорректирвать высоту
			</a>
		</div>
    </div>
</div>