<h1>Изменение высоты зоны исключения</h1>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-4 columns">
		<label for="min">
			Минимальная точка
		</label>
	</div>
	<div class="large-8 small-8 columns">
		<input id="min" type="number" value="{{zmin|decToPoint}}">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<div class="large-4 small-4 columns">
		<label for="max">
			Максимальная точка
		</label>
	</div>
	<div class="large-8 small-8 columns">
		<input id="max" type="number" value="{{zmax|decToPoint}}">
	</div>
</div>

<div class="large-12 small-12 columns nopadding">
	<button class="gls_button" id="submit_height_change" data-id="{{ezone_id}}">Сохранить</button>
</div>
