<h1>Список зон пользователя</h1>

<table>
	<tbody>
		{% for uzone in uzones %}
			<tr>
				<td>{{uzone.UserZoneName}}</td>
				<td><a href="#" data-id="{{uzone.id}}" data-type="userzone" class="link_to_uzone">Выбрать</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>