<h1>Список строений, этажей, кабинетов, зон пользователя</h1>


<table>
	<tbody>
		{% for landscape in static_tree %}
			<tr data-id="{{landscape.id}}" data-type="landscape">
				<td>{{landscape.name}}</td>
				<td></td>
			</tr>
		{% endfor %}



		{% for landscape in static_tree %}
			{% for building in landscape.children %}
				<tr data-id="{{building.id}}" data-type="building" data-parentid="{{landscape.id}}" data-parenttype="landscape">
					<td><span style="padding-left:20px;">{{building.name}}</span></td>
					<td><a href="#" data-id="{{building.id}}" data-type="building" class="link_exclude">Выбрать</a></td>
				</tr>
			{% endfor %}
		{% endfor %}

		{% for landscape in static_tree %}
			{% for building in landscape.children %}
				{% for floor in building.children %}
					<tr data-id="{{floor.id}}" data-type="floor" data-parentid="{{building.id}}" data-parenttype="building">
						<td><span style="padding-left:40px;">{{floor.name}}</span></td>
						<td><a href="#" data-id="{{floor.id}}" data-type="floor" class="link_exclude">Выбрать</a></td>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}


		{% for landscape in static_tree %}
			{% for building in landscape.children %}
				{% for floor in building.children %}
					{% for kabinet in floor.children %}
						<tr data-id="{{kabinet.id}}" data-type="kabinet" data-parentid="{{floor.id}}" data-parenttype="floor">
							<td><span style="padding-left:60px;">{{kabinet.name}}</span></td>
							<td><a href="#" data-id="{{kabinet.id}}" data-type="kabinet" class="link_exclude">Выбрать</a></td>
						</tr>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		{% endfor %}


		{% for landscape in static_tree %}
			{% for building in landscape.children %}
				{% for floor in building.children %}
					{% for kabinet in floor.children %}
						{% for userzone in kabinet.userzone %}
							<tr data-id="{{userzone.id}}" data-type="userzone" data-parentid="{{kabinet.id}}" data-parenttype="kabinet" style="display:none;">
								<td><span style="padding-left:80px;">(ЗП) {{userzone.name}} {%if userzone.groupname > 0%}{{userzone.groupname}}{% endif %}</span></td>
								<td><a href="#" data-id="{{userzone.id}}" data-type="userzone" class="link_exclude">Выбрать</a></td>
							</tr>
						{% endfor %}
					{% endfor %}
					{% for userzone in floor.userzone %}
						<tr data-id="{{userzone.id}}" data-type="userzone" data-parentid="{{floor.id}}" data-parenttype="floor" style="display:none;">
							<td><span style="padding-left:60px;">(ЗП) {{userzone.name}} {%if userzone.groupname > 0%}{{userzone.groupname}}{% endif %}</span></td>
							<td><a href="#" data-id="{{userzone.id}}" data-type="userzone" class="link_exclude">Выбрать</a></td>
						</tr>
					{% endfor %}
				{% endfor %}

				{% for userzone in building.userzone %}
					<tr data-id="{{userzone.id}}" data-type="userzone" data-parentid="{{building.id}}" data-parenttype="building" style="display:none;">
						<td><span style="padding-left:40px;">(ЗП) {{userzone.name}} {%if userzone.groupname > 0%}{{userzone.groupname}}{% endif %}</span></td>
						<td><a href="#" data-id="{{userzone.id}}" data-type="userzone" class="link_exclude">Выбрать</a></td>
					</tr>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</tbody>
</table>