{% load staticfiles %}
<!-- для football -->
<script src="{% static 'js/scene/football/football.js' %}"></script>
<script src="{% static 'js/scene/football/scale.js' %}"></script>
<!-- управление controlzone-->
<script src="{% static 'js/apps/incomezonedefine/objects/controlzone.js'%}"></script>
<!-- управление object -->
<script src="{% static 'js/apps/incomezonedefine/objects/object.js' %}"></script>
<!-- управление userzone -->
<script src="{% static 'js/apps/incomezonedefine/objects/userzone.js' %}"></script>
<!-- управление excludezone -->
<script src="{% static 'js/apps/incomezonedefine/objects/excludezone.js' %}"></script>
<!-- общий модуля -->
<script src="{% static 'js/apps/incomezonedefine/incomezonedefine.js' %}"></script>