<h1>Зоны пользователя, привязанные к группе</h1>

<div class="large-12 small-12 columns nopadding">
	<table>
		<tbody>
			{% for uzone in uzones %}
				<tr>
					<td width="400">{{uzone.UserZone__name}}</td>
					<td><a href="#" data-id="{{uzone.UserZone_id}}" data-groupid="{{uzone_group_id}}" class="unlink_uzone_from_group">Отвязать</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>