<tr class="uzone_group_line" data-id="{{userzone_group.id}}">
  <td>

    <div class="large-12 small-12 columns nopadding">
      <div class="large-6 small-6 columns nopadding">
        <div class="large-12 small-12 columns nopadding uzone_group_line_name">
          {{userzone_group.GroupName}}
        </div>
      </div>


      <div class="large-6 small-6 columns nopadding">
        <button class="gls_button action_group" data-type="userzone_group" data-id="{{userzone_group.id}}">Действия</button>
      </div>
    </div>
    
    <div class="large-12 small-12 columns nopadding userzone_group_action">
      <hr>
      <a href="#" id="showzonegroup" data-id="{{userzone_group.id}}">
        <div class="large-12 small-12 columns userzone_group_action_item">
          <span>Показать</span>
        </div>
      </a>
      <a href="#" id="uzone_group_rename_form" data-id="{{userzone_group.id}}">
        <div class="large-12 small-12 columns userzone_group_action_item">
          <span>Переименовать</span>
        </div>
      </a>
      <a href="#" id="deleteuzonegroup_form" data-id="{{userzone_group.id}}">
        <div class="large-12 small-12 columns userzone_group_action_item">
          <span>Удалить</span>
        </div>
      </a>
      <a href="#" id="get_zones_without_groups" data-id="{{userzone_group.id}}">
        <div class="large-12 small-12 columns userzone_group_action_item">
          <span>Привязать зону пользователя</span>
        </div>
      </a>
      <a href="#" id="get_zones_linked_to_group" data-id="{{userzone_group.id}}">
        <div class="large-12 small-12 columns userzone_group_action_item">
          <span>Отвязать зону пользователя</span>
        </div>
      </a>
    </div>

    
  </td>
</tr>