<tr class="uzone_line" data-id="{{uzone_unit.id}}">
  <td>
    <div class="large-12 small-12 columns nopadding">
      <div class="large-6 small-6 columns nopadding">

        <div class="large-12 small-12 columns nopadding uzone_line_location">
          {{uzone_unit.name}}
        </div>
        
        {% if static_dae_name %}      
          <div class="large-12 small-12 columns nopadding uzone_line_linked">
            <span title="">Привязана</span>
          </div>
        {% endif %}

        <div class="large-12 small-12 columns nopadding uzone_line_linked_to">
          {% if static_name %}
            {{static_name}}
          {% else %}
            {{static_dae_name}}
          {% endif %}

        </div>

        {% if static_dae_name %}
          <div class="large-12 small-12 columns nopadding uzone_line_unlink">
            <a href="#" id="unlink_uzone" data-id="{{uzone_unit.id}}">Отвязать</a>
          </div>
        {% endif %}
        
      </div>
      <div class="large-6 small-6 columns nopadding">
        <button class="gls_button action" data-type="userzone" data-id="{{uzone_unit.id}}">Действия</button>
      </div>
    </div>
    
    <div class="large-12 small-12 columns nopadding userzone_action">
      <hr>
      <a href="#" id="show_uzone" data-id="{{uzone_unit.id}}">
        <div class="large-12 small-12 columns userzone_action_item">
          <span>Показать</span>
        </div>
      </a>
      <a href="#" id="build_rename_modal" data-id="{{uzone_unit.id}}">
        <div class="large-12 small-12 columns userzone_action_item">
          <span>Переименовать</span>
        </div>
      </a>
      <a href="#" id="delete_userzone_form" data-id="{{uzone_unit.id}}">
        <div class="large-12 small-12 columns userzone_action_item">
          <span>Удалить</span>
        </div>
      </a>
      <a href="#" id="buildstatictree_for_userzone" data-id="{{uzone_unit.id}}">
        <div class="large-12 small-12 columns userzone_action_item">
          <span>Привязать к статике</span>
        </div>
      </a>
      <a href="#" id="height_change_for_userzone" data-id="{{uzone_unit.id}}">
        <div class="large-12 small-12 columns userzone_action_item">
          <span>Откорректировать высоту</span>
        </div>
      </a>
    </div>


  </td>
</tr>