<div class="large-12 small-12 columns">

	<button class="uzoneinfo_close">
		<span>&times;</span>
	</button>

	<div class="large-12 small-12 columns nopadding">
		<span class="object_head">Зона пользователя {{uzone_name}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<span class="objectinfo_head">
			Привязана к 
			{% if name %}
				{{name}}
			{% else %}
				{{dae_name}}
			{% endif %}
		</span>
	</div>

	<div class="large-12 small-12 columns nopadding">
		<div class="large-12 small-12 columns nopadding">
			<a href="#" id="delete_userzone_form" data-id="{{uzone_id}}" class="object_link">Удалить</a>
		</div>
		<div class="large-12 small-12 columns nopadding">
			<a href="#" id="buildstatictree_for_userzone" data-id="{{uzone_id}}" class="object_link">Привязать к статике</a>
		</div>
		<div class="large-12 small-12 columns nopadding">
			<a href="#" id="height_change_for_userzone" data-id="{{uzone_id}}" class="object_link">Откорректировать высоту</a>
		</div>
	</div>
</div>