<div class="large-12 small-12 columns nopadding">
	<h1>Переименовать зону</h1>	
</div>
<div class="large-12 small-12 columns nopadding">
	<input type="text" id="uzone_name" placeholder="{{uzone.name}}">
</div>
<div class="large-4 small-6 columns nopadding" style="float:left;">
	<button class="gls_button" id="rename_userzone" data-id="{{uzone.id}}">Сохранить</button>
</div>