<h1>Зоны пользователя не привязанные к группам</h1>

<div class="large-12 small-12 columns nopadding">
	<table>
		<tbody>
			{% for uzone_without_groups in uzones_without_groups %}
				<tr>
					<td>{{uzone_without_groups.name}}</td>
					<td><a href="#" data-id="{{uzone_without_groups.id}}" data-groupid="{{uzone_group_id}}" class="link_uzone_to_group">Выбрать</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>