<div class="large-12 small-12 columns nopadding">
	<h1>Переименовать группу зон пользователя</h1>	
</div>
<div class="large-12 small-12 columns nopadding">
	<input type="text" id="uzone_group_name" placeholder="{{uzone_group.GroupName}}">
</div>
<div class="large-4 small-6 columns nopadding" style="float:left;">
	<button class="gls_button" id="renameuzonegroup" data-id="{{uzone_group.id}}">Сохранить</button>
</div>