<div class="large-12 small-12 columns">
	<div class="large-12 small-12 columns nopadding">
		<h1>Удалить группу зон пользователя?</h1>	
	</div>
	<div class="large-12 small-12 columns nopadding">
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="deleteuzonegroup_yes" data-id="{{uzone_group_id}}">Да</button>
		</div>
		<div class="large-6 small-6 columns nopadding">
			<button class="gls_button" id="deleteuzonegroup_no">Нет</button>
		</div>
	</div>
</div>