<div class="large-12 small-12 columns nopadding instrument_panel_item" data-id="controlzone">
    <div class="large-12 small-12 columns nopadding">
        <h2>Список зон контроля</h2>
    </div>
    <div class="large-12 small-12 columns nopadding" id="controlzonetable">
        {{czonetable}}
    </div>
    <div class="large-12 small-12 columns nopadding">
        <button class="gls_button" id="newczone">Новая</button>
    </div>

    <div class="large-12 small-12 columns nopadding" id="czone_check">
        <div class="large-1 small-2 columns nopadding">
            <input type="checkbox" id="showczones">
        </div>
        <div class="large-11 small-10 columns nopadding">
            <label for="showczones">Показывать зоны контроля</label>
        </div>
    </div>

</div>