<div class="large-12 small-12 columns nopadding instrument_panel_item" data-id="excludezone">
    <div class="large-12 small-12 columns nopadding"><h2>Список зон исключения</h2></div>
    <div class="large-12 small-12 columns nopadding" id="excludezonetable">
        {{excludezonetable}}
    </div>
    <div class="large-12 small-12 columns nopadding">
        <button class="gls_button" id="new_exclude">Новая</button>    
    </div>
    <div class="large-12 small-12 columns nopadding" id="excludezone_check">
        <div class="large-1 small-1 columns nopadding">
            <input type="checkbox" id="showexcludezone">                        
        </div>
        <div class="large-11 small-11 columns nopadding">
            <label for="showexcludezone">
                Показать зоны исключения        
            </label>
        </div>
    </div>
</div>