<div class="large-12 small-12 columns nopadding instrument_panel_item" data-id="object">
    <div class="large-12 small-12 columns nopadding">
        <h2>Тип объекта</h2>    
    </div>

    <div class="large-12 small-12 columns nopadding">
        <select name="" id="objecttype_table_list">
            {% for type in objecttype %}
                <option value="{{type.0}}">{{type.1}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="large-12 small-12 columns nopadding"><h2>Список объектов</h2></div>

    <div class="large-12 small-12 columns nopadding" id="objecttable">
        {{objecttable}}
    </div>
    
    <div class="large-12 small-12 columns nopadding">
        <button class="gls_button" id="get_unregistered_devices_form">Новый</button>
    </div>

    <div class="large-12 small-12 columns nopadding" id="object_check">
        <div class="large-1 small-2 columns nopadding">
            <input type="checkbox" id="showobjects" checked="checked">
        </div>
        <div class="large-11 small-10 columns nopadding">
            <label for="showobjects">Показывать объекты</label>
        </div>
    </div>

    <div class="large-12 small-12 columns nopadding" id="objects_name">
        <div class="large-1 small-2 columns nopadding">
            <input type="checkbox" id="show_object_names">
        </div>
        <div class="large-11 small-10 columns nopadding">
            <label for="show_object_names">Показывать наименования</label>
        </div>
    </div>
</div>