<div class="large-12 small-12 columns nopadding instrument_panel_item" data-id="userzone">
    <div class="large-12 small-12 columns nopadding"><h2>Список зон пользователя</h2></div>
    <div class="large-12 small-12 columns nopadding" id="userzonetable">
        {{userzonetable}}
    </div>
    <div class="large-12 small-12 columns nopadding">
        <button class="gls_button" id="new_user">Новая</button>
    </div>
    <div class="large-12 small-12 columns nopadding" id="uzone_check">
        <div class="large-1 small-2 columns nopadding">
            <input type="checkbox" id="showuserzone">    
        </div>
        <div class="large-11 small-10 columns nopadding">
            <label for="showuserzone">
                Показать зоны пользователя
            </label>        
        </div>
    </div>
    
    <div class="large-12 small-12 columns nopadding">
        <h2>Список групп зон пользователя</h2>
    </div>
    <div class="large-12 small-12 columns nopadding" id="uzonegrouptable">
        {{userzonegrouptable}}
    </div>
    <div class="large-12 small-12 columns nopadding">
        <button class="gls_button" id="new_uzonegroup">Новая</button>    
    </div>

</div>