{% extends 'main.html' %}

{% block content %}

	<div class="large-12 small-12 columns nopadding text_center">
		<span class="span_superlarge">Фитнес отчет для {{landscape.name|capfirst}}</span>
	</div>
	<div class="large-9 small-12 columns nopadding">
		{{fitness_parameters_form_html}}
	</div>
	<div class="large-3 small-12 columns nopadding" id="speed_parameter_form_wrapper">
		{{speed_parameter_form_html}}
	</div>
	<div class="large-12 small-12 columns">
		<button
			class="gls_button span_usual"
			id="submit_fitness_orders_form"
			data-id="{{landscape.id}}"
		>
			Сформировать
		</button>
	</div>
{% endblock %}