<div class="large-12 small-12 columns nopadding text_center">
	<span class="span_large">{{speed_form.verbose_name}}</span>
</div>
<form id="speed_parameter_form">
	{% for field in speed_form %}
		<div class="large-12 small-12 columns" style="float:left;">
			<div class="large-12 small-12 columns nopadding span_usual">{{field.label}}</div>
			<div class="large-12 small-12 columns nopadding">{{field}}</div>
		</div>
	{% endfor %}
	{% for field in speed_form %}
		{% if field.errors %}
			{% for error in field.errors %}
				<div class="large-12 small-12 columns nopadding">
					<span class="color_red span_usual">{{field.label}} {{error|escape}}</span>	
				</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
</form>