<table>
	<tbody>
		{% for group_uzone in group_uzones_tree %}
			<tr class="static_row">
				<td data-id="{{group_uzone.id}}" data-type="group_uzone">{{group_uzone.name}}</td>
				<td><a href="#" data-id="{{group_uzone.id}}" data-type="group_uzone" class="group_uzone_select">Выбрать</a></td>
			</tr>
			{% for uzone in group_uzone.uzones %}
				{% if uzone.group_id == group_uzone.id %}
					<tr data-id="{{uzone.id}}" data-type="uzone" data-parentid="{{uzone.group_id}}" class="static_row" tabindex="{{uzone.id}}{{forloop.counter}}">
						<td><span style="padding-left:20px;">{{uzone.name}}</span></td>
						<td><a href="#" data-id="{{uzone.id}}" data-type="uzone" class="uzone_select">Выбрать</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tbody>
</table>