<table>
	<tbody>
		{% for landscape in static_tree %}
			{% if landscape.id == landscape_id %}
				<tr data-id="{{landscape.id}}" data-type="landscape" class="static_row">
					<td>{{landscape.name}}</td>
					<td></td>
				</tr>
			{% endif %}
		{% endfor %}



		{% for landscape in static_tree %}
			{% if landscape.id == landscape_id %}
				{% for building in landscape.children %}
					<tr data-id="{{building.id}}" data-type="building" data-parentid="{{landscape.id}}" data-parenttype="landscape" class="static_row" tabindex="{{building.id}}{{forloop.counter}}">
						<td data-id="{{building.id}}" data-type="building" class="static_tree_node"><span class="span_small">{{building.name}}</span></td>
						<td><a href="#" data-id="{{building.id}}" data-type="building" class="static_select" data-dae="{{building.dae_name}}"><span class="span_small">Выбрать</span></a></td>
					</tr>
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% for landscape in static_tree %}
			{% if landscape.id == landscape_id %}
				{% for building in landscape.children %}
					{% for floor in building.children %}
						<tr data-id="{{floor.id}}" data-type="floor" data-parentid="{{building.id}}" data-parenttype="building" class="static_row" tabindex="{{floor.id}}{{forloop.counter}}">
							<td data-id="{{floor.id}}" data-type="floor" class="static_tree_node"><span style="padding-left:20px;">{{floor.name}}</span></td>
							<td><a href="#" data-id="{{floor.id}}" data-type="floor" class="static_select" data-dae="{{floor.dae_name}}">Выбрать</a></td>
						</tr>
					{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}


		{% for landscape in static_tree %}
			{% if landscape.id == landscape_id %}
				{% for building in landscape.children %}
					{% for floor in building.children %}
						{% for kabinet in floor.children %}
							<tr data-id="{{kabinet.id}}" data-type="kabinet" data-parentid="{{floor.id}}" data-parenttype="floor" class="static_row" tabindex="{{kabinet.id}}{{forloop.counter}}">
								<td data-id="{{kabinet.id}}" data-type="kabinet" class="static_tree_node"><span style="padding-left:40px;">{{kabinet.name}}</span></td>
								<td><a href="#" data-id="{{kabinet.id}}" data-type="kabinet" class="static_select" data-dae="{{kabinet.dae_name}}">Выбрать</a></td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}

	</tbody>
</table>