<span class="label helperuzonewindow" data-id="{{id}}" style="top:{{screenY|floatformat:0}}px;left:{{screenX|floatformat:0}}px;">
	<span id="helperclose" data-id="{{id}}" data-type="userzone" data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Скрыть">&times;</span>
	<span id="helpername" class="span_small">{{object_unit.name}}</span>
</span>