<span class="label helperezonewindow" data-id="{{id}}" style="top:{{screenY|floatformat:0}}px;left:{{screenX|floatformat:0}}px;">
	<span id="helperclose" data-id="{{id}}" data-type="excludezone" data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Скрыть">&times;</span>
</span>